{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    
<div class="container-fluid">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div id="AllPosts_view">
        
       <h1>{{ profile_name }}</h1>     
     
        <div id="posts" class="mt-3" data-mode="{{ data_set }}" data-userId="{{ data_userId }}"></div>
            
        <div class="mt-3 d-flex justify-content-center align-items-center gap-2">
                <button id="prev" class="btn btn-outline-primary btn-sm" disabled>Prev</button>
                <span id="PageCounter" class="mb-0"></span>
            <button id="next" class="btn btn-outline-primary btn-sm" disabled>Next</button>
        </div> 
    </div>
</div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
    
{% endblock %}